boto3==1.12.5
botocore==1.15.5
chardet==3.0.4
coverage==5.0.3
dj-database-url==0.5.0
Django==1.11.28
django-forms-bootstrap==3.1.0
django-storages==1.9.1
docutils==0.15.2
gunicorn==20.0.4
idna==2.9
jmespath==0.9.4
Pillow==6.2.1
psycopg2==2.7.3.2
python-dotenv==0.11.0
pytz==2019.3
requests==2.23.0
s3transfer==0.3.3
stripe==2.42.0
urllib3==1.25.8
