{% extends 'base.html' %}
{% block content %}

<div class="container">
  
<div class="row row-flex">
    {% for product in products %}
        <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4 display panel panel-default">
            <div class="panel-body">
                <a href="#">
                    <img src="{{ MEDIA_URL }}{{ product.image }}" class="product_image" />
                </a>

                <h3 style="min-height: 60px;">{{ product.name }}</h3>
                <p>{{ product.price }} <i class="fas fa-euro-sign"></i></p>
                <p class="product-description">{{ product.description }}</p>
                

                <form method="post" action="{% url 'add_to_cart' product.id %}" data-add-basket-form>
                    {% csrf_token %}
                    <div style="display: flex; justify-content: center;;">
                        <input name="quantity" type="number" min="1" max="{{ product.quantity }}" class="quantity-input" value="{{ request.session.cart }}" placeholder="Quantity">
                        <button class="btn btn-success" type="submit">Add</button>
                    </div>
                </form>
            </div>
        </div>
    {% endfor %}
</div>

</div>

<style>
    .product-description{
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        min-height: 60px;
    }
</style>

<!---------------script to add item without reloading page------------------>

<script>
    $('[data-add-basket-form]').submit(function(e){
        e.preventDefault();

        const elem = $(this);
        const quantity = parseInt($(elem).find('input[name="quantity"]').val());

        if(isNaN(quantity)){
            alert('Quantity must be greater than 0!');
            return 1;
        }

        const token = $(elem).find('input[name="csrfmiddlewaretoken"]').val();

        $.ajax({
            url: $(elem).attr('action'),
            method: 'post',
            data: {
                csrfmiddlewaretoken: token,
                quantity: quantity
            },
            success: function(response){
                $(elem).find('input[name="quantity"]').val('')
                alert('Product succefully addded to basket!');
            }

        })
        .fail(function(xhr, textStatus, errorThrown){
            console.log(xhr.responseText);
        })
    });
</script>


{% endblock %}