{% extends 'base.html' %}
{% block content %}


  <!-- Header -->

   
   <header>
    
    <div class="header-container">
      <div class="intro-text">
        <div class="intro-lead-inn d-none d-md-block">Welcome To Our Fitness Kitchen!<br> We are here to help you find healthy dishes that don’t 
        sacrifice any of the flavor that can be found in their full-fat origins.<br> People may think eating healthy is boring but 
        that’s furthest from the truth.<br>You can still enjoy delicious tasting meals with healthier alternatives.<br>Enjoy</div>
        
        
      </div>
    </div>
  </header>

<div class="row row-flex">
    {% for product in products %}
        <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4 display panel panel-default">
            <div class="panel-body">
                <a href="#">
                    <img src="{{ MEDIA_URL }}{{ product.image }}" class="product_image" />
                </a>

                <h3>{{ product.name }}</h3>
                <p class="product-description">{{ product.description }}</p>
                <p>{{ product.price }} €</p>

                <form method="post" action="{% url 'add_to_cart' product.id %}" data-add-basket-form>
                    {% csrf_token %}
                    <div class="input-group">
                        <input name="quantity" type="number" min="1" max="{{ product.quantity }}" class="form-control quantity-input" value="{{ request.session.cart }}" placeholder="Quantity">
                        <span class="input-group-btn">
                            <button class="btn btn-success" type="submit">Add</button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    {% endfor %}
</div>

<style>
    .product_image{
        max-width: 100%;
        height: 215px;
        object-fit: cover;
        display: block;
        margin: 0 auto 20px auto;
    }
</style>

<script>
    $('[data-add-basket-form]').submit(function(e){
        e.preventDefault();

        const elem = $(this);
        const quantity = parseInt($(elem).find('input[name="quantity"]').val());

        if(isNaN(quantity)){
            alert('Quantity must be greater than 0!');
            return 1;
        }

        const token = $(elem).find('input[name="csrfmiddlewaretoken"]').val();

        $.ajax({
            url: $(elem).attr('action'),
            method: 'post',
            data: {
                csrfmiddlewaretoken: token,
                quantity: quantity
            },
            success: function(response){
                $(elem).find('input[name="quantity"]').val('')
                alert('Product succefully addded to basket!');
            }

        })
        .fail(function(xhr, textStatus, errorThrown){
            console.log(xhr.responseText);
        })
    });
</script>


{% endblock %}