{% extends 'base.html' %}
{% block content %}	
{% load staticfiles %}
    
    
    <div class="container footer-push-down">
		<div class="card pages-row">
			<div class="details-bg">
				<div class="wrapper-row">
					<div class="preview col-md-6">
						<div class="preview-pic tab-content">
						    <div class="tab-pane active" id="pic-1"><img src="{{ MEDIA_URL }}{{ product.image }}" /></div>
						</div>
					</div>
					<div class="details col-sm-10 col-md-6">
						<h3 class="product-header">{{ product }}</h3>
						<p class="product-full-description">{{ product.description }}</p>
						<h4 class="price">Price: <span> <i class="fas fa-euro-sign"></i> {{ product.price }}</span></h4>
						<div class="action">
                    
                            <form method="post" action="{% url 'add_to_cart' product.id %}" data-add-basket-form>
                                {% csrf_token %}
                                <div class= "col-12">
                                    <input name="quantity" type="number" min="1" max="{{ product.quantity }}" class="quantity-input" value="{{ request.session.cart }}" placeholder="Qty" aria-label="quantity">
                                </div>
                        </div>
					</div>
                        <div class=" col-12 buttons-wrapper">
                                        <button class="btn btn-success add-btn" type="submit">Add</button>
                            </form>
                                        <a href="{% url 'index' %}" class="btn-success btn btn-default" role="button"></span>Back Shoppping</a>
                                        <a href="{% url 'checkout' %}" class="btn-success btn btn-default" role="button"></span>Checkout</a>
                        </div>
				</div>
			</div>
		</div>
	</div>

<!--modal for addng to cart-->

<div class="modal" tabindex="-1" role="dialog" style="display: none;" id="cart_modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-justify">
        <h4 class="modal-title  text-success">Nutristore</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="text-justify">Product added to basket!</p>
      </div>
    <div class="modal-footer">
        <a href="/checkout/shipping" class="btn btn-success btn-modal">Go to checkout</a>
        <a href="/" class="btn btn-success btn-modal">Continue Shopping</a>
    </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="{% static 'js/basket.js' %}"></script>
   
{% endblock %}