{% extends 'base.html' %}
{% block content %}

<div class="container product-wrapper">
  
<div class="row row-flex">
    {% for product in products %}
        <div class=" col-lg-3 col-md-4 col-sm-6 display panel panel-default">
            <div class="panel-body">
                <a href="{% url 'product_details' product.id %}">
                    <img src="{{ MEDIA_URL }}{{ product.image }}" class="product_image" />
                </a>

                <h3 class="product-header">{{ product.name }}</h3>
                <p><i class="fas fa-euro-sign"></i> {{ product.price }} </p>
                <p class="product-description">{{ product.description }}</p>
                

                <form method="post" action="{% url 'add_to_cart' product.id %}" data-add-basket-form>
                    {% csrf_token %}
                    <div style="display: flex; justify-content: center;">
                        <input name="quantity" type="number" min="1" max="{{ product.quantity }}" class="quantity-input" value="{{ request.session.cart }}" placeholder="Quantity">
                        <button class="btn btn-success" type="submit">Add</button>
                    </div>
                </form>
            </div>
        </div>
    {% endfor %}
</div>

</div>

<script>

    $('[data-add-basket-form]').submit(function(e){
        e.preventDefault();

        const elem = $(this);
        let quantity = parseInt($(elem).find('input[name="quantity"]').val());

        if(isNaN(quantity)){
            quantity = 1;
        }

        const token = $(elem).find('input[name="csrfmiddlewaretoken"]').val();

        $.ajax({
            url: $(elem).attr('action'),
            method: 'post',
            data: {
                csrfmiddlewaretoken: token,
                quantity: quantity
            },
            success: function(response){

                $('#product_count').text(parseInt($('#product_count').text()) + 1);


                $(elem).find('input[name="quantity"]').val('')
                alert('Product succefully addded to basket!');
            }

        })
        .fail(function(xhr, textStatus, errorThrown){
            console.log(xhr.responseText);
        })
    });
</script>

{% endblock %}

