@import url('https://fonts.googleapis.com/css?family=Roboto:400,700|Work+Sans&display=swap');

body {
    font-family: 'Work Sans';
    color: #000;
}
                                    /*---------------- NAVBAR----------------------*/
.custom-navbar{
    background-image: none;
    background-color: #90878770;
    border: none;
}

.my-page-header{
    margin-bottom: -10px;
    margin-top: 0px;
    border: none;
}

.search-btn{
    border-color: green;
    border-radius: 8px;
    width: 80px;
}

.nav-link{
    color:#3c2e19;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    padding: 8px;
    font-family:"Work Sans";
}

.navbar-light .navbar-nav .nav-link{
    color:#3c2e19;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    padding: 8px;
}
/* contact form style */

.contact-control {
    display: block;
    width: 100%;
    height: 38px;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #eeeeee;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.contact-form-wrapper {
    background-color: white;
    border-radius: 6px;
    padding: 1rem;
}

.btn-success{
    width: 100px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

legend{
    text-transform: uppercase;
    color: #191717;
}

.strong-men-background{
    background-image: url("https://nutri-store.s3-eu-west-1.amazonaws.com/media/images/strongmen-header.jpg");
}

/* .strong-men-background {
  background-image: url("");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100%;
  background-position: center 5%;
} */

.product_image{
        max-width: 100%;
        height: 215px;
        object-fit: cover;
        display: block;
        margin: 0 auto 20px auto;
    }



.input-group{
    position: relative;
    display: table;
    border-collapse: separate;
    left: 137%;
}
.quantity-input{
    width: 136px;
    height: 38px;
    border-radius: 6px;
}

footer {
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #ededed;
    color: #A9A9A9;
}

.icon-bar {
    background-color: #fff;
}

.accountform {
    padding-top: 20px;
}

.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
    background-color: #c67605;
}

.product {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

caption p {
    word-wrap: break-word;
}

.row.row-flex {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.panel-default {
    border-color: transparent;
    padding: 0 10px;
}
.panel-default:hover {
    background-color: #dddddd;
}

.panel-body {
    height: 100%;
    border: 3px solid #ddd;
    border-radius: 8px;

}

.product-description {
    min-height: 40px;
}
/*body blur style when cliking on search input body will go dark*/
 body.search_blur{
    background: rgba(0,0,0,0.2);
    }

.search-input{
    position: relative;
    width: 100%;
    height: 46px;
    background-color: #fafafa;
    border-radius: 23px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: .3s;
}
/*FOOTER*/

.footer {
    padding: 5px 0px;
    text-align: center;
    background-color: #c0e0c0
}
                                        /*about page styles*/
.about h2 {
    color: #3c2e19;
    font-size: 45px;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 12px;
    margin-bottom: 26px;
    line-height: 51px;
}

.about p {
    font-weight: 300;
    font-size: 18px;
    line-height: 29px;
    color: #3c2e19;
}

.img-fluid{
    border: 8px solid #3c2e19;
    padding-left: 29px;
    max-width: 100%;
    padding-top: 50%;
}

/*pruduct details styles  taken from https://bootsnipp.com/ and styled to project needs*/

/* img {
  max-width: 100%; }

.preview {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media screen and (max-width: 996px) {
    .preview {
      margin-bottom: 20px; } }

.preview-pic {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.preview-thumbnail.nav-tabs {
  border: none;
  margin-top: 15px; }
  .preview-thumbnail.nav-tabs li {
    width: 18%;
    margin-right: 2.5%; }
    .preview-thumbnail.nav-tabs li img {
      max-width: 100%;
      display: block; }
    .preview-thumbnail.nav-tabs li a {
      padding: 0;
      margin: 0; }
    .preview-thumbnail.nav-tabs li:last-of-type {
      margin-right: 0; }

.tab-content {
  overflow: hidden; }
  .tab-content img {
    width: 100%;
    -webkit-animation-name: opacity;
            animation-name: opacity;
    -webkit-animation-duration: .3s;
            animation-duration: .3s; }

.card {
  margin-top: 50px;
  background: #eee;
  padding: 3em;
  line-height: 1.5em; }

@media screen and (min-width: 997px) {
  .wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; } }

.details {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.colors {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.product-title, .price, .sizes, .colors {
  text-transform: UPPERCASE;
  font-weight: bold; }

.checked, .price span {
  color: #ff9f1a; }

.product-title, .rating, .product-description, .price, .vote, .sizes {
  margin-bottom: 15px; }

.product-title {
  margin-top: 0; }

.size {
  margin-right: 10px; }
  .size:first-of-type {
    margin-left: 40px; }

.color {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  height: 2em;
  width: 2em;
  border-radius: 2px; }
  .color:first-of-type {
    margin-left: 20px; }

.add-to-cart, .like {
  background: #ff9f1a;
  padding: 1.2em 1.5em;
  border: none;
  text-transform: UPPERCASE;
  font-weight: bold;
  color: #fff;
  -webkit-transition: background .3s ease;
          transition: background .3s ease; }
  .add-to-cart:hover, .like:hover {
    background: #b36800;
    color: #fff; }

.not-available {
  text-align: center;
  line-height: 2em; }
  .not-available:before {
    font-family: fontawesome;
    content: "\f00d";
    color: #fff; }

.orange {
  background: #ff9f1a; }

.green {
  background: #85ad00; }

.blue {
  background: #0076ad; }

.tooltip-inner {
  padding: 1.3em; }

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
            transform: scale(3); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
            transform: scale(3); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } } */
/*end of pruduct details styles */


