{% extends 'base.html' %}
{% block content %}


<section class= "about">
<div class = "container">
    <div class= "row pages-row">
        <div class= "col-md-4">
            <figure>
            <img src= "https://nutri-store.s3-eu-west-1.amazonaws.com/media/images/logo.jpg" class= "img-fluid">
            </figure>
        </div>
        <div class= "col-md-8">
            <h2>about <br>
                nutri store
            </h2>
                <p>
                   Nutristore is the first company dedicated to offering customers certified organic 
                    workout and fitness supplements. All of our herbs, superfoods, sprouts, and adaptogens 
                    are sourced from eco-friendly, sustainable and certified organic farms. All of our products 
                    are blended and bottled in Ireland. All of our products are: Certified Organic, 
                    Non-GMO, Vegan, Gluten Free, Dairy Free, Chemical Free, Hormone Free and Preservative Free.
                </p>

                <p>
                 Our products were formulated with a reverence for ancient humanity’s vast wisdom of herbs and superfoods.
                 Modern scientific research has validated what mankind has known for millennia. Fitness, vitality 
                 and health all begin with proper nutrition.
                </p>

        </div>
    </div>
        <div class="row justify-content-center">
            <heading class="col-11 col-md-8 col-lg-6 text-center">
                <a href="{% url 'products' %}" class="btn btn-green btn-cta my-5">Let's go shopping</a>
            </heading>
        </div>
</div>
</section>
{% endblock %}