


<div class="container-fluid p-0">
    <div class="row no-gutters">
        <div class="col-12">
            {% if messages %}
            {% for message in messages %}

            <div class="alert alert-{{ message.tags }} text-center">
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>

<div class="container-fluid strong-men-background">
    <div class="row justify-content-center">
        <div class="col-12 col-md-6">
            <div class="contact-form-wrapper mx-auto my-3">
                <form id="contact-form" method="POST">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <legend class="pink-cap-header">Get in touch</legend>
                        <p>Got a question?<br>
                            Send me a message!</p>
                        <hr>
                        {{ form }}
                    </fieldset>
                    <div class="form-group">
                        <button class="btn btn-pink btn-cta m-0" type="submit">Send</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
