{% extends 'base.html' %} 
{% block page_title %}Home Page{% endblock %} 
{% block page_heading %}Home{% endblock %}

{% block content %}
<div class="col-12 col-sm-6 col-lg-3 home-category-wrapper">
    <a href="#">
        <div id="category-img-6"
            class="category-img d-flex align-items-end"
                title="Biotech USA Protein Power 4kg (133 servings)">
                    <div class="category-heading-box text-center">
                        <h3>Protein</h3>
                    </div>
        </div>
    </a>
</div>
{% endblock %}