{% extends 'base.html' %} 
{% block page_title %}{{user}} Profile {% endblock %} 
{% block page_heading %} Welcome {{user}}{% endblock %}

{% block content %}
<main>
    <div class="footer-push-down">
        <div class="container-fluid profile-background">
            <div class="row justify-content-center contact-row">
                <div class="col-md-10 col-sm-12 col-xs-12 profile-form-wrapper">
                    <h4 class="profile-welcome">Welcome {{user.username}}.</h4>
                    {% if has_order %}
                    <a class="order-history-link" href= "{% url 'order_history' %}">My Orders</a>
                    {% else %}
                    <a class="order-history-link" href= "{% url 'products' %}">You Have No Order History. Go To Store </a>
                    {% endif %}
                        <form method="POST" class="post-form full_input_form">{% csrf_token %}
                            {% for field in form %}
                            <div class="forms-group">
                                <div class="col-sm-6 col-md-6 col-lg-6">
                                    <label><h4 class= "input-details">{{field.label_tag}} <span class="asteriskField">*</span></h4></label>
                                    {{field}}
                                </div>
                            </div>
                                {% endfor %}
                                <div class="text-center"><button type="submit" class="save btn btn-default btn-success">Save</button></div>
                        </form>
                </div>
            </div>
        </div>
    </div>    
</main>

{% endblock %}