{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="row">
        <div id="content" class="col-sm-12">
            <h1 class="return-headers">Returns Policy</h1>
            <h3 class="return-headers">Returns Policy - Terms &amp; Conditions</h3>
            <p>The Nutristore &amp; reg returns policy.</p>
            <p><strong>Incorrect Address</strong></p>
            <p>If you provide an&nbsp;<strong>incorrect delivery address&nbsp;</strong>
                and the order is returned to us, or you fail to take delivery, we will either:
            </p>
            <ul>
                <li>redeliver the product to the&nbsp;<strong>correct address, if provided, subject to payment of additional delivery costs.</strong></li>
                <li>refund the value of the product (excluding delivery costs) dependent on whether it remains in a resalable condition. 
                    You will be responsible for any additional charges incurred including re-delivery costs.
                </li></ul><p>If the order is not returned to us, you will not be eligible for a refund or re-delivery.&nbsp;</p>
            <p>Nutristore accepts no responsibility for deliveries made to<strong>&nbsp;incorrect or incomplete addresses provided by customers.&nbsp;</strong>In this case, you will need to place a new order with the correct details.
            </p>
            <p><br>Please note, we will not be able to amend a delivery address once the order has been placed<strong><em>.</em></strong></p><p><strong>Incorrect Item Received / Missing Products(flavour/size)</strong>
            </p>
            <p>If for any instance the wrong item / flavour is dispatched.</p>
            <p>Please&nbsp;<strong>DO NOT OPEN</strong>&nbsp;the product or break the seal on the product .</p>
            <p>Please notify us within 7 days within receiving the product.</p>
            <p>Its paramount to check all flavours/products prior to opening as&nbsp;we can not exchange or refund&nbsp;any product that has been opened.</p>
            <p>We can not accept damaged goods for return or exchange.(broken or opened product)</p>
            <p>All products sold on this site are not guaranteed effective by the owners of this site; product descriptions are 
            a copy of information found on the manufacturer website. We are not directly responsible for the claims made about the products.</p>
            <p>&nbsp;</p><p><strong>Items Damaged in Transit</strong></p>
            <p>If any items are damaged in transit, we ask that you report it to us within 2 working days. If the items are visibly damaged on receipt, 
            it's best to sign the carrier's delivery note accordingly. Items should be returned in their original packaging complete with all accessories 
            and documentation.</p><p>Once received back into our warehouse, we'll issue a replacement or full refund excluding shipping cost.&nbsp;</p>
            <p><br></p><p><strong>Items Faulty on Arrival</strong></p>
            <p>If your items are faulty on arrival, you have 4 calendar days in which to inform us of the fault. Items should be returned in their 
            original packaging complete with all accessories and documentation. Once we have verified the fault, we'll issue a replacement or full 
            refund (Minus Shipping Costs) to you via your original payment method.</p><p>Return shipping costs are buyer’s responsibility.</p>
            <p>&nbsp;</p><p><strong>If you change your mind.</strong></p>
            <p>If you have simply changed your mind about any item ordered and you wish to return it.</p>
            <p>We cannot accept goods back if you have opened the product and simply do not like the taste.</p>
            <p>The item must not be used and must be 'as new' when returned to us.</p>
            <p>Once you've informed us that you wish to return goods, you have 7 calendar days to do so, at your own expense. 
            Once the item is received at our premises, we'll issue a full refund for the product to your original payment method 
            minus our original shipping and handling costs.</p>
            <p>&nbsp;</p><p><strong>Please note:</strong></p>
            <p>We cannot accept any returns which have been opened due to Health &amp; Safety reasons. We can only accept returns that 
            are in their original condition, &amp; all goods are inspected on return. Please ensure you package the goods correctly so 
            the product is not damaged in transit. In the unlikely event that an item is returned to us in an unsuitable condition, we 
            reserve the right to refuse a refund/exchange.&nbsp;</p><p>Please be advised we need to be notified of any discrepancies 
            within 48 hours.&nbsp;</p>
            <p>Please note that any fraudulent transactions will be reported to the relevant authorities.</p>
            <p>&nbsp;</p><p>The returns address is:</p>
            <p>Returns Department</p>
            <p>Nutristore</p>
            <p>Unit 1 Glenroe Road,</p><p>Dublin,</p>
            <p>Co. Dublin.</p>
        </div>
    </div>
</div>

            {% endblock %}