{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block content %}
    <div class ="cart-wrapper">
                {% if not cart_items %}
    
    <div class="row justify-content-center">
            <heading class="col-11 col-md-8 col-lg-6 text-center">
                <h1 class="cart-heading">Your cart is empty!</h1>
                <a href="{% url 'products' %}" class="btn btn-success btn-cta my-5" aria-label="Go Shopping">Let's go shopping</a>
            </heading>
    </div>
                {% endif %}
        <div class="row row-flex">
            {% for item in cart_items %}
            
            <div class="col-md-6 col-lg-6 col-sm-12 display panel cart-panel">
                <div class="product" style="background-image: url('{{ MEDIA_URL }}{{ item.product.image }}')"></div>
                <div class="caption">
                    <h3 class="product-header">{{ item.product.name }}</h3>
                    <p class="product-description">{{ item.product.description }}</p>
                    <p>Price: <i class="fas fa-euro-sign"></i>{{ item.product.price }}</p>
                    <p>
                        <div class="flex-container position-relative">
                            <form class="form-inline justify-content-center " method="post" action="{% url 'adjust_cart' item.id %}">
                                {% csrf_token %}
                                
                                <label for="exampleInputAmount" class="sr-only">New Qty</label>
                                <div class="input-group">
                                    <div class="input-group-addon">Qty</div>
                                    <input name="quantity" type="number" min="0" max="999" class="form-control" aria-label="quantity">
                                    <div class="input-group-addon">{{item.quantity}}</div>
                                </div>
                        </div>
                                <div class="flex-container delete-wrapper">
                                    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>Amend</button>
                            </form> 
                                        <form class="delete-form" action="{% url 'cart_item_delete' item.id %}" method="post">
                                            {% csrf_token %}
                                            <button type="submit" class="bin-btn"><span><i class="fas fa-trash-alt"></i></span></button>
                                        </form>
                                    </div>
                    </p>
                </div>
            </div>
            {% endfor %}
    </div>
                {% if cart_items %}
            <div class="row summary-cart">
                <p>Total</p>
                {% if total > 50 %}
                <p><span class="glyphicon glyphicon-euro" aria-hidden="true"></span>{{ total_after_discount | floatformat:2}} <span class="text-danger">you saved <i class="fas fa-euro-sign"></i> {{diference | floatformat:2}}</span></p>
                {% else %}
                <p><span class="glyphicon glyphicon-euro" aria-hidden="true"></span>{{ total | floatformat:2}} <span class="text-danger">get 10% off when over <i class="fas fa-euro-sign"></i> 50 </span></p>
                {% endif %}
                <a href="{% url 'shipping' %}" class="btn btn-success btn-succes-cart" role="button" ><span aria-hidden="true"></span>Checkout</a>
                <a href="{% url 'index' %}" class="btn btn-success btn-succes-cart" role="button" ><span aria-hidden="true"></span>Keep Shopping</a>
            </div>

                {% endif %}
</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

    {% endblock %}