    
    {% load staticfiles %}
    <!DOCTYPE html>

    <html lang="en">
    <meta charset="UTF-8">
    <title>Nutristore</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/cerulean/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'font-awesome/css/fontawesome.min.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    {% block head_js %}
    {% endblock head_js %}
    
        

    <head>
    <title>{% block page_title %}{% endblock %}</title>
</head>

<body>
                            <!---------------HEADER------------------>
<div class= "menu-wrapper">
    <header class="page-header my-page-header">
        <div class="header-wrapper">
            <div id="logo"> <img src="https://nutri-store.s3-eu-west-1.amazonaws.com/media/images/logo.jpg"alt="Nutri Store logo"></div>
            <div class= "d-none d-md-block"> <a class="delivery-link" href= "{% url 'delivery' %}"> <p><i class="fas fa-shipping-fast fa-2x"></i> FREE SHIPPING</p></a></div>
            <div class="card-search">
                <form class="d-flex">
                    <input class="form-control mr-sm-2 search-input" id="search_input" maxlength = "20" name= "q" placeholder= "Search"type="search" aria-label="Search" />
                    <button type= "submit" class= "fas fa-search navbar-search-icon fa-2x search-btn" title="Search"></button>
                    <!-- <a class="nav-link" href="">
                        <i class="fas fa-search navbar-search-icon fa-2x" title="Search"></i>
                    </a> -->
                </form>
            </div>
                                            
            <ul class="navbar-nav mx-right flex-row top-menu">
                    {% if user.is_authenticated %}
                <li class="nav-item active"><a class="nav-link" href="{% url 'profile' %}"><i class="fas fa-users"></i> Profile</a></li>
                <li class="nav-item active"><a class="nav-link" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i>Logout</a></li>
                    {% else %}
                <li class="nav-item active"><a class="nav-link" href="{% url 'login' %}"><i class="fas fa-sign-in-alt"></i>Login</a></li>
                <li class="nav-item active"><a class="nav-link" href="{% url 'registration' %}"><i class="fas fa-user-plus"></i>Register</a></li>
                    {% endif %}
                <li>
                    <a class="nav-link"href="{% url 'view_cart' %}">
                        <i class="fas fa-shopping-cart"></i>Cart
                            {% if product_count > 0 %}
                        <label class="badge badge-warning" id="product_count">{{ product_count }}</label>
                            {% endif %}
                    </a>
                </li>
                {{ request.session.total}}
            </ul>
    </div>
    </header>

    <style>

        }
    </style>

                                <!---------------NAVBAR------------------>

    <nav class="navbar navbar-expand-sm fixed-top custom-navbar ">
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-label="Toggle navigation">
			    <i class="fas fa-bars"></i>
		    </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto custom-ul">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'products' %}">Home <span class="sr-only"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about' %}">About</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'contact' %}">Contact <span class="sr-only"></span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Shop By Range
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'index' %}">View all</a>
                    <div class="dropdown-divider"></div>
                            {% for category in categories %}
                    <a class="dropdown-item" href="{% url 'index' %}?category_id={{category.id}}">{{category.name}}</a>
                    <div class="dropdown-divider"></div>
                            {% endfor %}

                </ul>
            </div>
            
    </nav>

</div>
  
    {% if messages %}
        <div class="alert alert-success">
            <div class="messages">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        </div>
    {% endif %}

        <!----styling this div will adjust content and "stick" footer to the bottom in all templates--> 
    
        <div class="template-content">
        
            {% block content %} {% endblock %}
        </div>
    

    <footer class="footer">
    
    <div class="row top">

        <div class="col-md-3 mr-auto">

            <!-- Links -->
                <ul class="list-unstyled footer-list">
                    <li>
                        <a href="{% url 'contact' %}">Contact</a>
                    </li>
                    <li>
                        <a href="{% url 'return-policy' %}">Return Policy</a>
                    </li>
                    <li>
                        <a href="{% url 'delivery' %}">Delivery Information</a>
                    </li>
                </ul>
        </div>
                    <div class="col-md-3 bottom">
                        <div class="payment-methods">
                            <li class="list-inline-item">
                                <i class="fab fa-cc-visa fa-2x"></i>
                            </li>
                            <li class="list-inline-item">
                            <i class="fab fa-cc-amex fa-2x"></i>
                            </li>
                            <li class="list-inline-item">
                                <i class="fab fa-cc-mastercard fa-2x"></i>
                            </li>
                            <li class="list-inline-item">
                                   <i class="fab fa-cc-paypal fa-2x"></i>
                            </li>

                        </div>   
                    
                    </div>
            <div class="col-md-3 footer-info ml-auto">
                <div class="social-icons">
                    <li class="list-inline-item">
                        <a href="https://github.com/tomciosegal" target="_blank">
                            <i class="fab fa-github foot-fab fa-2x"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.instagram.com/bulkpowders/" target="_blank">
                            <i class="fab fa-instagram foot-fab fa-2x"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.facebook.com/BulkPowdersIE/?brand_redir=169468793065757" target="_blank">
                            <i class="fab fa-facebook-f foot-fab fa-2x"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.youtube.com/user/BulkPowderscouk" target="_blank">
                            <i class="fab fa-youtube foot-fab fa-2x"></i>
                        </a>
                    </li>
                </div>
                <div class="customer-service">
                    <div class= "customer-service--phone-number">
                        Customer Service 012345678
                    </div>
                    <div class="customer-service--opening-times">
                        Mon to Fri 08:00 to 20:00 <br>
                        Sat & Sun 09:00 to 17:00
                    </div>

                </div>
            </div>
    </div>
    
    </footer>
  

    <script>
        $('#search_input').focus(function(){
            $('body').addClass('search_blur');
        });

         $('#search_input').blur(function(){
            $('body').removeClass('search_blur');
        });
    </script>
    <script src="{% static 'js/basket.js' %}"></script>
</body>
</html>