    
    {% load staticfiles %}
    <!DOCTYPE html>

    <html lang="en">
    <meta charset="UTF-8">
    <title>Nutristore</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/cerulean/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'font-awesome/css/fontawesome.min.css' %}">
    
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    {% block head_js %}
    {% endblock head_js %}
    
        
        <!-- custom css -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" type="text/css">
    <head>
    <title>{% block page_title %}{% endblock %}</title>
</head>

<body>
  
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light small-box-shadow">
        <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
            <li><a href="{% url 'profile' %}"><i class="fa fa-user"></i> Profile</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
            <li><a href="{% url 'login' %}">Login</a></li>
            <li><a href="{% url 'registration' %}">Register</a></li>
            {% endif %}
                                <li>
                        <a href="{% url 'view_cart' %}">
                            <i class="fa fa-shipping-cart"></i>Cart
                            {% if product_count > 0 %}
                            <label class="badge badge-warning">{{ product_count }}</label>
                            {% endif %}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    {% if messages %}
        <div class="alert alert-success">
            <div class="messages">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        </div>
    {% endif %}
    <div class="container">
        <div class="display">
            <form action="{% url 'search' %}" method="get">
                <input type="text" name="q">
                <button type="search">Search</button>
            </form>
        </div>
        {% block content %} {% endblock %}
    </div>
    <footer>
        <div class="container">
            <p>Tomasz Cygal CI student</p>
        </div>
    </footer>
</body>
</html>